html{
  scroll-behavior: smooth;
}
body{
  background-color: lightgray;
}
#order, #cart{
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
.pickup{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#submit{
  display: flex;
  margin-top: 2em;
}
#transport{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
#address{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quantity{
  display: flex;
}

#order-section{
  background-image: url(../images/17.jpg);
  background-size: cover;
}

#logo{
  display: flex;
  justify-content: center;
  padding-top: 4em;
}
#logo1{
  padding-top: 4em;
}