html{
  scroll-behavior: smooth;
}
body{
  background-color: lightgray;
}
#order, #cart{
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
#size{
  display: none;
}
#toppings{
  display: none;
}
#crust{
  display: none;
}
#button{
  display: none;
}
#mode{
  display: none;
}