html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  min-width: 100%;
}

#carousel{
  top: 0%;
  margin-top: 0%;
}
.flex-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20em;
}
#sec3{
  background-image: url(../images/5.jpg);
  margin-top: 5em;
  padding-top: 6em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 2em;
}
#deliver{
  padding-top: 4em;
}
.card{
  border: transparent;
}
#img2{
  width: 100%;
  height: auto;
}

.review-img{
  background-image: url(../images/7.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 44em;
}
.review{
  text-align: center;
  color:aliceblue;
  padding-top: 15em;
}

.Reviews{
  margin-top: 5em;
}

#recipes{
  background-image: url(../images/13.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 5em;
  height: 30em;
}
.recipe{
  padding-top: 5em;
  color: lightgray;
  font-size: xx-large;
  text-align: center;
}
#contact{
  text-align: center;
  margin-top: 5em;
}

.map{
  padding-top: 4em;
}

#mail{
  height: 20em;
  background-color: black;
  margin-top: 5em;
}

.logo{
  height: 10em;
}
